<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-img src="../assets/doctor2.png"></ion-img>
   <ion-card-title>Seja bem vindo a aba de consultas!</ion-card-title>
   <ion-card-content>Para prosseguir clique no botão abaixo.</ion-card-content>
   <ion-button color="danger" (click)="avancarPag()">Consulta</ion-button>
  </ion-card>
</ion-content>